*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: white;
  }
.logo{
    line-height: 80px;
    font-size: 40px;
    padding: 0 100px;

}
  nav{
    background-color: black;
    height: 80px;
    width: 100%;
  }

  nav ul{
    float: right;
    margin-right: 30px;
  }

  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
  }

  nav ul li a{
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    padding: 10px;
  }

  .active,a:hover{
    background-color: rgb(95, 95, 95);
    border: none;
    border-radius: 8px;
    transition: 0.8s;
  }

  .container {
    display: flex;
    height: 100vh; /* Use 100vh to ensure the container takes the full viewport height */
    width: 100%;
}

.left-half, .right-half {
    /* flex: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.left-half {
    /* background-color: #f0f0f0; */
    width: 60%;
}

.right-half {
    /* background-color: #c0c0c0; */
    width: 40%;
}

.right-half img{
  height: 70vh;
  width: 80%;
}
.salsa-regular {
  font-family: "Salsa", cursive;
  font-weight: 400;
  font-style: normal;
}
.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
}
.skill-header{
  justify-content: center;
}
